body {
    background-image: url('../assets/bitmap.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans';
    color: #4a4a4a;
    // 


    .container {
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .center {
            text-align: center;
            background-color: rgba(255, 255, 255, 0.6);
            width: 100%;
            padding: 100px 20px 100px 20px;
            border-radius: 10px;

            .newAccount {
                font-size: 18px;
            }

            .socialMedia {
                display: flex;
                align-items: center;
                justify-content: center;
                

                .bttS {
                    width: 50px;
                    height: 50px;
                    border: 0.5px solid rgba(159, 165, 177, 0.8);
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 12px;
                    color: #9f9ba7;
                    font-size: 23px;
                    text-decoration: none;

                    &:hover {
                        background-color: #fb125b;
                        color: white; 
                    }
                } 
            }

            .form {
                p {
                    font-size: 14px;
                }

                .input-group {

                    margin-bottom: 14px;

                    .input-group-text {
                        min-width: 50px;
                        background: white;
                        border-right: none;
                        justify-content: center;

                    }

                    input {
                        padding: 25px;
                        border-left: none;
                    }
                }

                .btn {
                    width: 177px;
                    height: 50px;
                    border-radius: 25px;
                    background-color: #fb125b;
                    color: White;
                    font-family: 'Open Sans';
                    font-size: 12px;
                }
            }

            //form end
            .login {
                margin-top: 20px;

                a {
                    color: #fb125b;
                    text-decoration: none;
                }
            }
        }

        //center end
    }

    //container end
}

//body end